# Ignore .dol, .raw, and .gci files
*.dol
*.raw
*.gci

# Ignore Java compilation files
/target/
/bin/
/classes/

# Ignore Maven dependency files
/.mvn/
*.iml
.idea/

# Ignore Eclipse configuration files
.classpath
.project
.settings/

# Ignore backup files
*~

# Ignore log files
*.log

# Ignore editor-specific files
.vscode/
*.sublime-project
*.sublime-workspace
*.suo
*.ntvs_analysis.dat
*.sln.iml

# Ignore Windows backup files
Thumbs.db
ehthumbs.db

# Ignore Mac system files
.DS_Store

# Ignore cache files
.caches/
.cache/

# Ignore Gradle build files
.gradle/
build/
